DIV,SPAN,A,P,TD,LABEL {
	font-family: ÉÅÉCÉäÉI;
	color: #333;
	font-size: 10pt;
	line-height: 150% !important;
}

#chartcontainer {
	width: 750px;
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	border: 1px solid #CCC;
	margin: auto;
}

#charttext {
	margin: auto;
	width: 750px;
}

#infobar {
	margin: 0px auto 15px auto;
	width: 750px;
}

#weather {
	margin-left: 10px;
	color: #00c;
	font-size: 12pt;
	font-weight: bold;
}

#tiempo {
	margin-left: 10px;
	color: #00c;
	font-size: 12pt;
	font-weight: bold;
}

DIV.Title {
	font-size: 12pt;
	position: relative;
	top: -325px;
	left: 328px;
	font-weight: bold;
}

DIV.TitleY {
	font-size: 9pt;
	color: #999;
	position: relative;
	top: -275px;
	left: 5px;
}

DIV.TitleX {
	font-size: 9pt; 
	top: -36px;
	left: 362px;
	color: #999;
	position: relative;
}

DIV.Float { float: left; }
DIV.Right { float: Right; }
DIV.Close { float: none; clear: both; }

#gridcontainer { margin: auto; width: 750px; }

.grid-table { width: 100%; border-collapse: collapse; }
.grid-data-cell { border-width: 1px 0px 1px 0px; border-color: #95B3D7; border-style: Solid; padding: 2px; text-align: right;}
.grid-header-cell { border-top: 1px double Gray; background-color: #4F81BD; color: White; text-align: center;}
.grid-data-segment,.grid-data-count,.grid-data-countPrev { width: 100px; }
.grid-data-alt { background-color: #DCE6F1; }
.grid-data-segment { text-align: center; }